<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="Data Source=(local)\SQLEXPRESS2014;Initial Catalog=demo;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
